section {
    background-color: red;
}

h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.section-title {
    color: green;
}

#product-overview h1 {
    background: #3a5856;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    margin: 20px;
}

.main-header {
    width: 100%;
    background-color: #2ddf21;
    padding:  8px 6px;
}