// Файл обнуляющих стилей
@import "nullstyle.scss";

ul{
	margin: 50px 0 50px 250px;
	li{font-size: 24px;
	    margin: 0 0 15px 0;
	    background: url('../img/check_icon.png') left no-repeat;
	    padding: 0 0 0 30px;
		span, first_issue {
			font-family: Arial;
			font-size: 20px;
			line-height: 36px;
			text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
			text-decoration: line-through;
			color: #273d46;
			&:hover {
				font-family: Arial;
				font-size: 20px;
				line-height: 36px;
				text-decoration: none;
				color: #273d46;
			}
		}
	}
	li{ 
		font-size: 24px;
	    margin: 0 0 15px 0;
	    background: url('../img/check_icon.png') left no-repeat;
	    padding: 0 0 0 30px;
			second_issue {
		font-family: Arial;
		font-size: 20px;
		line-height: 36px;
		font-weight: 700;
		color: #273d46;
		&:hover {
			font-family: Arial;
			font-size: 20px;
			line-height: 36px;
			font-weight: 400;
			color: #d55a5a;
		}
	} 
}
	li, span, third_issue {
		font-family: Arial;
		font-size: 20px;
		line-height: 36px;
		font-weight: 400;
		font-style: italic;
		color: #273d46;
		&:hover {
			font-family: Arial;
			font-size: 20px;
			line-height: 36px;
			font-weight: 400;
			font-style: normal;
			color: #273d46;
		}
	}
	li, span, forth_issue {
		font-family: Arial;
		font-size: 20px;
		line-height: 36px;
		font-weight: 400;
		text-transform: uppercase;
		color: #273d46;
		&:hover {
			font-family: Arial;
			font-size: 20px;
			line-height: 36px;
			font-weight: 400;
			text-transform: none;
			color: #273d46;
		}
	}
}